@media (min-width: 768px) and (max-width: 979px) {
  main {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .tcon-title {
    font-size: 3.5em;
  }

  .tcon-tagline {
    margin-bottom: 5px;
  }

  nav {
    a {
      border: none;

      &:hover,
      &:focus,
      &.active {
        color: #FFFEFE;
        background: none;
        border: none;
      }
      &:active {
        transform: none;
      }
    }
  }

  footer {
    margin: 0 auto;
    width: 90%;
  }

  .github-repo-info {
    a {
      display: block;
      margin: 10px 0;
    }
  }

  #tcons-contributors {
    display: none;
  }

  main {
    width: 90%;
  }

}

@media (max-width: 480px) {
  .tcon-title {
    font-size: 2.5em;
  }

  .tcon-tagline {
    font-size: 0.8em;
    text-align: center;
    width: 90%;
  }

  nav {
    a {
      font-size: 0.8em;
    }
  }
}
