.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
